<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#e84a5f;" >
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="assets/cinelogo.png" alt="" height="50px" width="115px">
            <span class="text-white fs-5">Book Movie Tickets</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="/register">Register</a>
                </li>
            </ul>
            <form class="d-flex me-3">
                <input class="form-control me-2 bg-transparent shadow-none" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success text-white" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <router-outlet></router-outlet>
</div>


<footer class="bg-body-tertiary text-center">
    <div class="container p-4 pb-0 ">
        <section class="">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="newsletter" class="form-control bg-transparent shadow-none"
                                placeholder="Email address" />
                            <label class="form-label" for="newsletter"></label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button data-mdb-ripple-init type="submit" class="btn btn-outline-primary ">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(60, 55, 55, 0.258);">
        © Copyright:
        <a class="text-body text-decoration-none " href="">cineplexify</a>
    </div>
</footer>