<div class="container-fluid">
    <div class="row main-content  text-center">
        <div class=" col-12 login_form ">
            <div class="container-fluid">
                <div class="row mt-1">
                    <h2>Register</h2>
                </div>
                <div class="row">
                    <form control="" class="form-group">
                        <div class="row">
                            <input type="text" name="username" id="username" class="form__input" placeholder="Username" required>
                        </div>
                        <div class="row">
                            <input type="email" name="username" id="username" class="form__input" placeholder="Email" required>
                        </div>
                        <div class="row">
                            <input type="tel" name="username" id="username" class="form__input" placeholder="Mobile" required>
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password" required>
                        </div>
                        <div class="row">
                            <input type="password" name="cpassword" id="password" class="form__input" placeholder="Confirm Password" required>
                        </div>
                        <div class="row">
                            <input type="submit" value="Register" class="btn">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Already have an account? <a routerLink="/login" class="text-decoration-none">Login Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>